
<div class="row">
  <form style="margin-top: 3cm;" action="/auth/register" method="POST">
  <div  class="container">
    <h1>Register</h1>
   {{#ifhasErrors}}
    <div class="alert alert-danger">
      {{#each messages}}
      <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label style="font-size: 1cm;" for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    <label for="password-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="password-repeat" id="password-repeat" required>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit"  class="btn btn-info">Register</button>
  </div>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>

    

</div>