{{!-- <div class="mt-4">
        <form method="POST" action="/products/store">
            <div class="form-group">
                <label for="name">name</label>
                <input type="text"  class="form-control" id="name" name="name">     
            </div>
             <div class="form-group">
                <label for="price">price</label>
                <input type="text"  class="form-control" id="price" name="price">     
            </div>
            <div class="form-group">
                <label for="descrtipstion">descrtipstion</label>
                <input type="text" class="form-control" id="descrtipstion" name="descrtipstion">
            </div>
            <div class="form-group">
                <label for="images">images</label>
                <input type="text" class="form-control" id="images" name="images">
            </div>
            <div class="form-group">
                <label for="slug">slug</label>
                <input type="text" class="form-control" id="slug" name="slug">
            </div>
            <button type="submit" class="btn btn-primary">Add products</button>
    </form>
</div> --}}


<form action="/products/store" method="POST" class="form" id="form-1">
                    <h3 class="heading">Thêm Mới Sản Phẩm</h3>
                    
                
                    <div class="spacer"></div>
                    <div class="form-group">
                        <label for="img_product" class="form-label">Hình Ảnh:</label>
                        <input id="images" name="images" type="text" placeholder="VD: url..." class="form-control">
                        <span class="form-message"></span>
                      </div>
                    <div class="form-group">
                      <label for="name_product" class="form-label">Tên Sản Phẩm:</label>
                      <input id="name" name="name" type="text" placeholder="VD: Giá Đỡ..." class="form-control">
                      <span class="form-message"></span>
                    </div>
                
                    <div class="form-group">
                      <label for="price_product" class="form-label">Giá Sản Phẩm:</label>
                      <input id="price" name="price" type="text" placeholder="VD: 89.000đ" class="form-control">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="sold" class="form-label">Mô tả:</label>
                        <input id="descrtipstion" name="descrtipstion" type="text" placeholder="VD: 89.000đ" class="form-control">
                        <span class="form-message"></span>
                      </div>
                
                
                    <button id="submit" onclick="createProduct()" class="form-submit">Thêm Sản Phẩm</button>
                  </form>