:root {
  --color-white: white;
  --color--shop: linear-gradient(to top, #ee5b36, #ed3d33);
  --color-abc: #ee5235;
  --line-height-header: 34px;

  --width-input-search: 840px;

  --height-header: 120px;
  --height-header-mobile: 54px;
  --height-header-search: calc(
    var(--height-header) - var(--line-height-header)
  );
  --height-input-search: 40px;
}
body {
  font-family: "Roboto", sans-serif;
}
.btn {
  cursor: pointer;
  min-width: 140px;
  min-height: 40px;
  font-size: 1.4rem;
  border-radius: 2px;
  margin-left: 6px;
  margin-right: 6px;
}
.btn:hover {
  filter: brightness(90%);
}
.btn-primary {
  background-color: #ed3833;
  color: white;
}
.btn-back {
  background-color: #e8e5e5;
  color: #929090;
}
/* MODAL LOGIN */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Open  */
  display: none;
  z-index: 100;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modal__body {
  position: relative;
  margin: auto;
  width: 480px;
  min-height: 540px;
  background-color: white;
  padding: 10px 20px;
  /* Open */
  display: flex;
  flex-direction: column;
}

.modal__body-head {
  flex: 1;
}

.modal__body-title {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
}
.modal__body-content {
  flex: 2;
  /* margin-top:50px; */
}
.form__group {
  margin-bottom: 12px;
}
.form__group-box {
  display: flex;
  justify-content: space-between;
}
.form__group-lb {
  font-weight: 500;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 6px;
}
.form__group-control {
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
  padding-left: 12px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  margin-bottom: 4px;
}
.form__btn {
  display: flex;
  justify-content: flex-end;
}
.modal__body_social {
  flex: 2;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}
.social {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 40px;
  margin: 4px 4px;
  text-align: center;
}
.social__fb-text {
  background-color: #3b5998;
  width: 100%;
  line-height: 40px;
  color: white;
  font-size: 1.4rem;
}
.social:hover {
  filter: brightness(90%);
}

.social__gg-text {
  background-color: #4080ec;
  width: 100%;
  line-height: 40px;
  color: white;
  font-size: 1.4rem;
}
.invalid .form__group-control {
  border: 1px solid red;
}
.invalid .form__group-error {
  color: red;
  font-size: 1.2rem;
}
